<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title>Run Cycle</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <script src='https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'></script>
  <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css' type='text/css' />
  <link rel="stylesheet" href="/css/map.css">

  <link href="https://fonts.googleapis.com/css?family=Cairo|Source+Sans+Pro&display=swap" rel="stylesheet">

</head>
<body>
    <div id="nav">
        <h1 id="title">Run Cycle</h2>
    </div>

    {{!-- <div id="toolBar">
        <button id="editRoute">Edit</button>
    </div> --}}
    
    <div id='map'>
    </div>

    <div id="controller">
        <input id="geocoder" placeholder="Enter Starting Location">

        <ul id="potentialLocations"></ul>

        <input id="routeDistance" placeholder="Route Distance">

        <div class="units">
            <input type="radio" id="radio-one" name="unit-switch" value="Miles" checked/>
            <label for="radio-one">Miles</label>
            <input type="radio" id="radio-two" name="unit-switch" value="Km" />
            <label for="radio-two">Km</label>
        </div>

        <button id="makeRoute">Find Route</button>

        <h3 id="routeInfo">Distance: </h3>

        <div id="info">
            <h3>How Run Cycle Works</h3>
            <p id="content">
                Enter your starting address, a distance, and let Run Cycle
                generate a route!
            </p>
        </div>
    </div>

</body>
<script>
    var apiKeys = {
        mapbox: "{{ mapbox }}",
        tomtom: "{{ tomtom }}"
    }
</script>
<script src="/js/searchBundle.js"></script>
</html>