body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#map {
    position: absolute;
    top: 12vh;
    bottom: 0;
    width: 70vw;
    margin-left: 0;
}

#nav {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: flex;
    background-color: #283350;
    height: 12vh;
    width: 100%;
}

#title {
    display: inline;
    color: #FFB500;
    font-family: 'Cairo', sans-serif;
    align-content: center;
    
}

#controller {
    background-color: #ffffff;
    height: 88vh;
    margin-left: 70vw;
    display: grid;
    grid-template-rows: 10vh 28vh 12vh 11vh 27vh;
}

#geocoder {
    grid-row-start: 1;
    grid-row-end: 1;
    margin-left: 1vw;
    margin-top: 1vh;
    align-self: end;
    width: 28vw;
    height: 7vh;
    border: none;
    border-bottom: 2px solid #FFB500;
    text-overflow: ellipsis;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
}

#potentialLocations {
    grid-row-start: 2;
    grid-row-end: 2;
    list-style-type: none;
    width: 28vw;
    margin-left: 1vw;
    align-self: start;
    display: grid;
    grid-template-rows: 5vh 5vh 5vh 5vh 5vh;
    margin-top: 3vh;
    margin-bottom: 0;
    padding: 0;
    background-color: #ffffff;
    border-radius: 10px;
    border-top: none;
}

#potentialLocations li a {
    display: inline-block;
    background-color: #ffffff;
    height: 5vh;
    width: 28vw;
    margin-left: .2vw;
    text-decoration: none; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
}

#potentialLocations li:hover {
    background-color: #F93800; /* Add a hover effect to all links, except for headers */
    cursor: pointer;
}

#routeDistance {
    grid-row-start: 3;
    grid-row-end: 3;
    margin-left: 1vw;
    align-self: end;
    width: 28vw;
    height: 7vh;
    border: none;
    border-bottom: 2px solid #FFB500;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
}

#makeRoute {
    grid-row-start: 4;
    grid-row-end: 4;
    margin-left: 3vw;
    align-self: center;
    height: 7vh;
    width: 24vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    font-size: 1em;
    color: #ffffff;
    background-color: #F93800;
}

#makeRoute:hover {
    cursor: pointer;
}